* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: white;
    --font-color: black;
    --border-color: black;

    --white-color: white;
    --black-color: black;
    --border-white-color: white;

}

.wrapper-theme {
    background-color: var(--bg-color);
    color: var(--font-color);
    height: auto;
    width: 100%;
}

#theme:checked+.wrapper-theme {
    background-color: var(--black-color);
    color: var(--white-color);
    --border-color: white;
}

.label-theme {
    position: relative;
}

.label-theme>label>i {
    position: fixed;
    top: 80px;
    left: 30px;
    z-index: 10;

    cursor: pointer;

    transition: transform 0.2s ease-in-out;
}

.label-theme>label>i:hover {
    transform: scale(1.2);
}

html {
    scroll-behavior: smooth;
}

body {
    height: auto;
    width: 100%;
    font-family: "Bitter", serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 80px;
    align-items: center;
    width: 100%;
    height: auto;

    background: #c09b48;
    border-bottom: 1px solid black;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);

    position: sticky;
    top: 0;
    z-index: 1;
}

.left-navbar img {
    height: 50px;
    width: 70px;

    transition: transform 0.2s ease-in-out;
}

.left-navbar img:hover {
    transform: scale(1.1);
}

.nav-ul {

    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav-ul li {
    list-style: none;
}

.nav-ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    position: relative;
}

.nav-a::after {
    content: '';
    background: red;
    width: 100%;
    height: 2px;

    position: absolute;
    top: 20px;
    right: 0;

    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
    transform-origin: right;
}

.nav-a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.nav-a:hover {
    font-weight: 600;
}

.nav > label i {
    display: none;
}
.menu-container{
    position: relative;
}

/* ---hamburger---- */
.menu-links-horizontal{
    visibility: hidden;
    position: absolute;
    top: 15px;
    right: -80px;
    width: 250px;
    height: auto;

    background: white;
}

.menu-links-horizontal ul{
    /* background: white; */
    border: 1px solid black;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

#menu:checked + .menu-links-horizontal{
    visibility: visible;
}
/* ---------------------------main-container------------------ */
.main-container {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90vh;
}



.left-hero-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;

    background: #c09b48;
    margin-top: 50px;

    position: relative;
}

.left-hero-container img {
    height: 120%;
    width: auto;
    align-self: center;
    /* border: 2px solid red; */

    transition: transform 0.2s ease-in-out;
}

.left-hero-container img:hover {
    transform: scale(1.05);
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 60%;


    /* border: 2px solid yellow; */
}

.left-top-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 15px;
}

.para-hero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;

    font-size: 20px;
}

.para-hero h3 {

    font-weight: 350;
}

.highlight {
    font-size: 30px;
    font-family: "Marcellus", serif;

    font-weight: 600;
}

.download-CV {
    border: none;
    border-radius: 9px;
    background: black;
    padding: 10px;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);

    transition: transform 0.2s ease-in-out;
    /* cursor: pointer; */
}

.download-CV:hover {
    transform: scale(1.1);
    background: #d9e2e7;
}

.download-CV a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.download-CV a:hover {
    color: black;
    font-weight: 600;
}

.achievement-container {
    display: flex;
    justify-content: space-around;
    border: 1px solid var(--border-color);
    border-radius: 50px;
    width: 100%;
    height: auto;

    margin-top: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    padding: 20px 0px;
}

.achievement {
    /* border: 2px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;

    gap: 10px;
}

.achievement img {
    height: 30px;
    width: 30px;
}

#red {
    color: red;
}

/* ------------------------------END-main-container-------------------------- */

/* ------------------------------------END-home-section------------------------- */

/* ----------------------------------------skills-and-myprojects-section----------------------- */

.wrapper-skills-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: auto;
    /* width: 100%; */
}

/* skills */

 #projects{
    margin-top: 100px;
 }
.skills,
.projects {
    margin-top: 100px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.projects {
    width: 100%;
}

.header-skills,
.header-projects {
    font-size: 30px;
    margin-bottom: 30px;
}

.images-skills {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.images-skills img {
    height: 100px;
    min-width: 100px;
    transition: transform 0.3s ease-in-out;
}

.images-skills img:hover {
    transform: scale(1.2);
}


/* projects */

.images-description-projects {
    /* border: 2px solid red; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "one two"
        "three four"
        "five six"
        "seven eight"
    ;

    column-gap: 40px;
    row-gap: 40px;
    padding: 0 90px;
}



.card-projects {

    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;

    gap: 10px;

    background: rgba(182, 156, 86, 0.6);

}

.img-description {
    width: 100%;
    font-weight: 350;

    position: relative;
}

.img-description img {
    /* border: 2px solid black; */
    height: auto;
    width: 100%;

    transition: transform 0.3s ease-in-out;
}



.description-hovering{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0;

    background: linear-gradient(360deg, rgba(213, 72, 72, 0.2), white);
    color: black;
    background-size: cover;
    background-position: center center;
    backdrop-filter: blur(15px);
    
    position: absolute;
    bottom: 55px;
    transition: height 0.4s ease-in-out, transform 0.3s ease-in-out;
    overflow: hidden;
}

.img-description:hover img{
    transform: scale(1.005);
}

.img-description:hover .description-hovering{
    height: 89%;
    transform: scale(1.005);
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
}
.link-description {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    width: 100%;
    /* margin: 20px 20px; */
}

.para-description {
    width: 80%;
    height: auto;
    margin: 10px 0;

    text-align: center;

    font-size: 70%;

}

.link-icon {
    width: 50px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 20px;
}

.link-icon img {
    /* border: 2px solid red; */
    height: 30px;
    width: 30px;
    transition: transform 0.2s ease-in-out;
}

.link-icon img:hover {
    transform: scale(1.2);
}
.brief-description{
    margin-top: 20px;
}
.brief-description h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ----------------------------------------END-skills-and-myprojects-section----------------------- */
/* -----------------------------------------about------------------------------------------ */

.wrapper-about {
    background: #c09b48;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 100px;
    padding-top: 20px;
}

.img-about {
    width: 40%;

}

.img-about img {
    height: auto;
    width: 70%;
}

.text-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* border: 2px solid red; */
    gap: 10px;
    width: 50%;
}

.text-about>h1 {
    margin-bottom: 50px;
}

.detail-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.interest {
    margin-top: 40px;
    display: flex;
    gap: 15px;
    width: 100%;

    flex-wrap: wrap;
}

.interest>ul {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.interest>ul li {
    list-style: none;
    transition: transform 0.2s ease-in-out;
}
.interest>ul li:hover{
    transform: scale(1.2);
    background: rgb(173, 170, 170);
    border-radius: 10px;
    padding: 10px;
}

/* -----------------------------------------END-about------------------------------------------ */
/* =----------------------------------------contact-------------------------------------- */
.wrapper-contact {
    /* border: 2px solid red; */
    border-radius: 10px;
    margin-top: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 100px;

    background: rgba(14, 204, 83, 0.3);
    gap: 20px;
}

.contact-icons img {
    height: 50px;
    width: 50px;
    transition: transform 0.2s ease-in-out;
}

.wrapper-contact>h1 {
    margin-top: 30px;
}

.contact-icons img:hover {
    transform: scale(1.2);
}

.contact-icons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 30%;
    gap: 10px;
}

.email-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background: white;
}

#email {
    border: none;
    /* border-radius: 50px; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    padding: 10px;
    outline: none;
}

.email-input>i {
    background: transparent;
    padding: 9.5px;
    border: none;

    cursor: pointer;

    transition: transform 0.2s ease-in-out;
}

.email-input>i:hover {
    transform: scale(1.2);
}

/* =----------------------------------------END-contact-------------------------------------- */

/* ---------------------------------------------footer-section--------------------------------------- */
.wrapper-footer {
    margin-top: 100px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: black;
    color: white;

    gap: 30px;
    height: auto;
    width: 100%;
}

.text-footer {
    display: flex;

    justify-content: center;
    gap: 50px;

    /* width: 100%; */
}

.links-footer p {
    margin-bottom: 20px;
    font-size: 20px;
}

.social-links-footer p {
    margin-bottom: 20px;
    font-size: 20px;
}

.text-footer ul {
    list-style: none;
    /* border: 2px solid red; */
    width: 100%;
}

.text-footer ul>li>a {
    text-decoration: none;
    color: white;
    position: relative;
}

.links-footer>ul>li>a::after {
    content: '';
    background: white;
    width: 100%;
    height: 2px;

    transition: transform 0.2s ease-in-out;
    transform: scaleX(0);
    transform-origin: right;
    position: absolute;
    bottom: 0;
    left: 0;
}

.links-footer>ul>li>a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.social-links-footer {
    width: 100%;
}

.social-links-footer ul {
    width: 100%;
}

.social-links-footer>ul>li>a {
    position: relative;
}

.social-links-footer>ul>li>a::after {
    content: '';
    background: white;
    width: 100%;
    height: 2px;

    transition: transform 0.2s ease-in-out;
    transform: scaleX(0);
    transform-origin: right;
    position: absolute;
    bottom: 0;
    left: 0;
}

.social-links-footer>ul>li>a:hover::after {
    transform: scaleX(1);
    transform-origin: left;

}

/* ---------------------------------------------END-footer-section--------------------------------------- */
/* fixed-button */

#fixed-button {
    position: relative;
}

.fixed {
    position: fixed;
    right: 40px;
    bottom: 60px;
}

.fixed i {
    color: white;
    font-size: 30px;
    background: #c09b48;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.fixed i:hover {
    transform: scale(1.2);
}

/* ------------------------------------media-query------------------------------------ */

@media screen and (max-width: 1200px) {
    .left-hero-container {
        width: 100%;
    }

    .achievement-container {
        width: 100%;
    }
}

@media screen and (max-width: 1050px) {


    /* grid-container */


    .images-description-projects {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five"
            "six"
            "seven"
            "eight"
        ;
        row-gap: 30px;

        width: 100%;
    }
}

@media screen and (max-width: 880px) {
    .nav-bar {
        justify-content: space-between;

    }

    .nav-ul li {
        display: none;
    }

    .nav > label i {
        display: block;
        padding-right: 10px;
        /* border: 2px solid red; */
    }

    .main-container {
        width: 100%;
    }


}


@media screen and (max-width: 700px) {

    .left-hero-container img {
        height: 100%;
    }

    .wrapper-about {
        flex-direction: column;
    }


    .img-about {
        width: 50%;
        margin-bottom: 10px;
    }

    .img-about img {
        height: auto;
        width: 100%;
    }

    .text-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border: 2px solid red; */
        width: 50%;
    }

    .text-about>h1 {
        margin-bottom: 20px;
    }

    .detail-about {
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* gap: 15px; */
    }
    
   

    .interest {
        margin-top: 40px;
        display: flex;
        gap: 15px;
        width: 100%;

        flex-direction: column;
        align-items: center;
    }

    .interest>ul {
        /* border: 2px solid red; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .interest>ul li {
        list-style: none;
    }


}

@media screen and (max-width: 610px) {
    .left-hero-container {
        width: 100%;
    }

    .achievement-container {
        flex-direction: column;
        gap: 15px;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        align-items: center;
        padding: 10px;
    }

    .achievement {
        width: auto;
        /* margin: 10px 0; */
    }

    .achievement-container hr {
        display: none;
    }
}


@media screen and (max-width: 520px) {
  
    .nav-bar{
        gap: 120px;
    }

    .main-container {
        height: auto;
    }

    .left-hero-container {
        height: 100%;
        flex-wrap: wrap-reverse;
    }

    .left-hero-container img {
        width: 60%;
        margin: auto;

        /* border: 2px solid red; */
    }

    .hero-container {
        width: auto;
    }

    .para-hero {
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }

    .highlight {
        font-size: 25px;
    }

}